<div class="comments-container">
    <h2>Comentarios:</h2>
    
    <div *ngIf="comments.length > 0; else noComments">
        <ul class="comment-list">
            <li *ngFor="let comment of comments" class="comment-item">
                <div class="comment-content">
                    <strong class="comment-username">{{ comment.userName }}</strong>
                    <p class="comment-text">{{ comment.text }}</p>
                    <small class="comment-date">{{ formatDate(comment.date) }}</small>
                    <button *ngIf="isAdmin" (click)="deleteComment(comment.id)" class="delete-button">
                        &#10006; <!-- Este es un símbolo de cruz -->
                    </button>
                </div>
            </li>
        </ul>
    </div>

    <ng-template #noComments>
        <p class="no-comments">No hay comentarios para mostrar.</p>
    </ng-template>
</div>
