<header>
    <nav>
        <img src="assets/logoPM.png" alt="Logo">
        <input type="text" placeholder="Search...">
        <a routerLink="/">Home</a>
        <a routerLink="/faq">FAQ</a>
        <a routerLink="/tienda-trips">Trips</a>
        <a routerLink="/tienda-planets">Planets</a>
        <a routerLink="/tienda-stars">Esteelaaa</a>
        <button>Log in</button>
        <button>Sign in</button>
    </nav>
</header>
<!--Hay una libreria de angular, creo que Angular material se llama que nos puede servir para armar los botones-->