<form (submit)="register()">
    <div>
        <label for="username">Username:</label>
        <input id="username" [(ngModel)]="user.username" name="username" required />
    </div>

    <div>
        <label for="email">Email:</label>
        <input id="email" [(ngModel)]="user.email" name="email" required type="email" />
    </div>

    <div>
        <label for="password">Password:</label>
        <input id="password" type="password" [(ngModel)]="user.password" name="password" required />
    </div>

    <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input id="confirmPassword" type="password" [(ngModel)]="user.confirmPassword" name="confirmPassword"
            required />
    </div>

    <button type="submit">Register</button>
</form>