<header>
    <nav>
        <img src="/assets/logoPM.png" alt="Logo">
        <div class="nav-links">
            
            <a routerLink="/">Home</a>
            <a routerLink="/faq">FAQ</a>
            <a routerLink="/trips">Trips</a>
            <a routerLink="/planets">Planets</a>
            <a routerLink="/tienda-stars">Estrellas y más</a>
        </div>
        <input type="text" placeholder="Search...">
        <div class="nav-buttons">
            <button routerLink="login">Log in</button>    
            <button routerLink="register">Sign in</button>
        </div>
    </nav>
</header>
<!--Hay una libreria de angular, creo que Angular material se llama que nos puede servir para armar los botones-->