/* .planet-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;} */
.planet-grid {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.planet-grid::-webkit-scrollbar {
    display: none;
}

.planet-card{
    display: flex;
    flex-direction: column;
    gap:5px ;
    background: #020F59;
    border-radius: 10px;
    align-items: center;
}

.planet-img{
    width: 150px;
    height: 150px;
    padding: 5px 5px 5px 5px;
    border-image: round;
    border-radius: 10px;
}

