<div class="planet-carousel">
    <button type="button" class="scroll-arrow left" (click)="scrollGrid(-1)" [disabled]="!puedeIrIzquierda">&#10094;</button>

    <div class="planet-grid" #planetGrid (scroll)="actualizarFlechas()">
        <div *ngFor="let planet of planets" class="planet-card">
            <img class="planet-img" [src]="planet.imageUrl" [alt]="planet.name">
            <h2 class="planet-name">{{ planet.name }}</h2>

            <div class="price-container">
                    <p class="price-text">Price: ${{ planet.price | number }}</p>
                </div>
            <div class="button-wrapper">
            <button type="button"  [disabled]="!planet.available" (click)="viewPlanetDetails(planet.id)" >
                {{ planet.available ? 'BUY' : 'SOLD OUT' }}
            </button>
            </div>
        </div>
    </div>

    <button type="button" class="scroll-arrow right" (click)="scrollGrid(1)" [disabled]="!puedeIrDerecha">&#10095;</button>
</div>
