<div class="trips-container">
    <h1>To infity and beyond...</h1>
    <div class="trip-cards">
      <div *ngFor="let trip of trips" class="trip-card">
        <img [src]="trip.imageUrl" [alt]="trip.title">
        <div class="trip-info">
            <h2>{{ trip.title }}</h2>
            <p>{{ trip.description }}</p>
            <p>Departure: {{ trip.departure | date:'dd/MM/yyyy' }}</p>
            <p>Origin: {{ trip.origin }}</p>
            <p>Destination: {{ trip.destination }}</p>
            <p>Available Seats: {{ trip.availableSeats }}</p>
            <button (click)="reserveTrip(trip.id)" class="reserve-button">RESERVE NOW!</button>
        </div>
        </div>
    </div>
</div>