<div class="planets-container">
    <h3>Mis Planetas</h3>

    <!-- Situacion de carga -->
    <div *ngIf="loading" class="loading">
        Cargando planetas...
    </div>

    <!-- Error -->
    <div *ngIf="error" class="error">
        {{ error }}
    </div>

    <!-- Grilla para muestra planetas -->
    <div class="planets-grid" *ngIf="!loading && !error && userPlanets.length > 0">
        <div class="planet-card" *ngFor="let planet of userPlanets">
            <img [src]="planet.planetImage" [alt]="planet.planetName">
            <div class="planet-details">
                <h4>{{ planet.planetName }}</h4>
                <p>Tipo: {{ planet.planetType }}</p>
                <p>Kilómetros Totales: {{ planet.totalKilometers | number }} km²</p>
                <p>Última Compra: {{ planet.lastPurchaseDate | date }}</p>
                <p>Inversión Total: ${{ planet.totalInvested | number }}</p>
                    
                <button 
                        (click)="downloadCertificate(planet)"
                        class="certificate-button">
                        Descargar Certificado
                </button>
                
            </div>
        </div>
    </div>

    <!-- Caso sin compras -->
    <div class="no-planets" *ngIf="!loading && !error && userPlanets.length === 0">
        No has comprado ningún planeta aún.
    </div>
</div>