<div class="profile-container">
    <div class="sidebar">
        <h2>Hi {{userName}}!</h2>
        <div class="menu-buttons">
            <button (click)="navigateTo('trips')" 
                    [class.active]="isActive('trips')">
                    My Reservations
            </button>
            <button (click)="navigateTo('planets')"
                    [class.active]="isActive('planets')">
                    My Planets
            </button>
            <button (click)="navigateTo('info')"
                    [class.active]="isActive('info')">
                    My Data
            </button>
        </div>
    </div>
    
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>