<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form (submit)="login()">
        <div>
            <label for="username">Username:</label>
            <input id="username" [(ngModel)]="credentials.username" name="username" required>
        </div>

        <div>
            <label for="password">Password:</label>
            <input id="password" type="password" [(ngModel)]="credentials.password" name="password" required>
        </div>

        <button type="submit">Login</button>
    </form>

</div>