<section>
    <div class="card-text">
        <h1>Embark yourself on a unique adventure</h1>
        <p id="description">Imagine crossing the threshold of Earth and entering the immensity of the cosmos. With our simulated space travel, you will live an experience that challenges the imagination. From weightlessness to the panoramic view of our blue planet from space, every moment will be an unforgettable memory.</p>
        <p id="question">Are you ready to be part of the few who have seen the stars so close?</p>
        <button type="button" [routerLink]="['/trips']" routerLinkActive="router-link-active" >Book now and become a space pioneer</button>
    </div>
</section>