/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    background: #020F59;
}
h1,h2,h3{
    color: whitesmoke;
}
p{
    color: whitesmoke;
}

.card-text{
    background-color: #283593;

}
button{
    background-color: #ff5722;
    color: white;
    border: none;
    margin: 2px 2px 2px 2px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}